@import "_reset.scss";
@import "_flexboxgrid.min.scss";
@import "_safari.scss";
@import "_images.scss";
@import "_media-queries.scss";

// VARIABLES
$brandColor: #6e0408;

/*section {
	height: 100vh;
}

// CHANGE BG COLOR ON SCROLL
Setting fade transition and default settings
body {
  color: #000;
  background-color: #f4f4f4;
  transition: background-color 1s ease;
}

panel styles
.panel {
  min height incase content is higher than window height
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: sans-serif;
  outline: 10px solid hotpink;
 turn above on to see the edge of panels
}

colours
.color-violet {
  background-color: #7A4EAB;
}
.color-indigo {
  background-color: #4332CF;
}
.color-blue {
  background-color: #2F8FED;
}
.color-green {
  background-color: #4DCF42;
}
.color-yellow {
  background-color: #FAEB33;
}
.color-orange {
  background-color: #F19031;
}
.color-red {
  background-color: #F2293A;
}

styling for demo, can ignore
body {
  text-align: center;
  font-size: 120%;
  line-height: 1.618;
  margin: 0;
}
h1, h2 {
  font-size: 3em;
  letter-spacing: -0.05em;
  line-height: 1.1;
}
p {
  max-width: 30em;
  margin-bottom: 1.618em;
}
a {
  color: #4332CF;
}*/

// SIDE NAVIGATION
.navigation {
	position: fixed;
	width: 250px;
	height: 100%;
	transform: translateX(250px);
	transition: 0.25s ease-in-out;
	right: 0;
	top: 0;
	background-color: $brandColor;
	z-index: 999999;
}
.navigation ul {
	list-style: none;
	padding: 2em;
}
.navigation a {
	color: #fff;
	display: block;
	padding: 10px 0;
	text-decoration: none;
}
.reveal .navigation {
	transform: translateX(0);
	transition: 0.25s ease-in-out;
}
.openNav {
	position: fixed;
	top: 2em;
	right: 0;
	z-index: 9999;
	background-color: $brandColor;
	border: none;
	width: 45px;
	height: 40px;
	cursor: pointer;
	transition: 0.25s ease-in-out;
	padding: 0;
	border-radius: 100px 0 0 100px;
	padding-left: .5em;
}
.openNav:focus {
	outline: none;
}
.openNav .hamburger {
	position: relative;
	display: block;
    height: 100%;
    width: 100%;
}
.hamburgerLines, .hamburgerLines:after, .hamburgerLines:before {
	height: 2px;
	width: 20px;
	background-color: #fff;
	position: absolute;
	content: "";
	transition: 0.25s ease-in-out;
}
.hamburgerLines {
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	transition: 0.25s ease-in-out;
}
.hamburgerLines:after {
	bottom: -7px;
	left: 50%;
	transform: translateX(-50%);
}
.hamburgerLines:before {
	top: -7px;
	transform: translateX(-50%);
}
.reveal .openNav {
	transform: translateX(-250px);
	transition: 0.25s ease-in-out;
}
.reveal .hamburgerLines {
	background-color: $brandColor;
	transition: 0.25s ease-in-out;
}
.reveal .hamburgerLines:after {
	transform: rotate(45deg);
	left: 0;
	top: 0;
	transform-origin: center;
	transition: 0.25s ease-in-out;
}
.reveal .hamburgerLines:before {
	transform: rotate(-45deg);
	left: 0;
	top: 0;
	transform-origin: center;
	transition: 0.25s ease-in-out;
}

// HORIZONTAL PATHWAYS
.roadway-sec {
	background-color: $brandColor;
	height: 17px;
	position: absolute;
	bottom: 5px;
	left: 3rem;
	z-index: -1;
}

// RELATIVE POSITIONING
.relativePositioning {
	position: relative;
}

// SECTION BACKGROUNDS
#section1 {
	/*background-image: url(../img/students-sitting-on-top-of-SMU-sign-infront-of-mcnally-main-wide.jpg);*/
	background-size: 50%;
	background-position: center right;
	background-repeat: no-repeat;
}

* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  font-family: "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1 {
  font-family: "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 112px;
  line-height: 1.2em;
  margin: 0;
}
.wrapper {
	overflow: hidden;
	position: relative;
	transition: 0.25s ease-in-out;
}
.wrapper:before {
	transition: 0.25s ease-in-out;
	visibility: hidden;
	opacity: 0;
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, .85);
	transition: 0.25s ease-in-out;
	z-index: 999;
}
.reveal .wrapper:before {
	opacity: 1;
	visibility: visible;
}
p {
	line-height: 1.5em;
}
#linearPath {
	fill: none;
	stroke: rgb(0, 0, 0);
    stroke-width: 16.5;
}
section {
	height: 100vh;
	position: relative;
}
.inner {
	position: relative;
	width: 100vw;
	height: 100vh;
}
#firstLine {
	position: absolute;
	top: 0;
	height: calc(100vh + 5.75%);
	width: 100%;
}
.sectionTitle {
	/*top: -5px;
	left: 30px;*/
	left: -10px;
    font-size: 120px;
	position: relative;
	letter-spacing: -5.5px;
	color: $brandColor;
	font-weight: bold;
	line-height: 1;
}
.sectionTitle.right {
	right: 30px;
	text-align: right;
	left: auto;
}
.fa.fa-angle-down, .fa.fa-angle-up {
	font-size: 80px;
	color: $brandColor;
	width: 80px;
	text-align: center;
}
.headerContainer .fa.fa-angle-down {
	color: #000;
}
.headerContainer .nextToggle {
	background-color: transparent;
	bottom: 10px;
}
.nextToggle {
	position: absolute;
	bottom: -40px;
	right: 25px;
	background-color: #fff;
	z-index: 1;
}
.fadeOut .firstSection {
	opacity: 0;
	transition: 0.25s ease-in-out;
	visibility: hidden;
}
.percentage {
	position: fixed;
	top: 0;
	width: 17px;
	color: $brandColor;
	margin: 0;
	padding: 0;
	height: 100vh;
	left: 37px;
	z-index: 10;
	transition: .25s ease-in-out;
}
.moveLine .percentage {
	left: 252px;
}
.moveLine2 .percentage {
	left: 245px;
}
.moveLine3 .percentage {
	left: 321px;
}
.moveLine4 .percentage {
	left: 226px;
}
.moveLine5 .percentage {
	left: 301px;
}
.moveLine6 .percentage {
	left: 245px;
}
.percentage {
	left: 35px!important;
}
[data-scrollPercentage] .percentage {
	display: inline-block;
	background-color: $brandColor;
	height: 0;
}
.second {
	right: 0;
	left: auto;
	z-index: 2;
}
.innerContent {
	background-color: #fff;
	position: relative;
	padding-right: 1em;
}
.blurb {
	margin-bottom: 4em;
	max-width: 500px;
}
.splashNav {
	color: #666;
	list-style: none;
	margin: 0;
	padding: 0 4em;
	align-self: flex-end;
	flex-basis: 100%;
	font-weight: bold;
}
.splashNav h1 {
	position: relative;
	letter-spacing: -0.04em;
	font-size: 5em;
}
.splashNav h1::after {
	content: " ";
	white-space: pre;
}
.splashNav li:last-of-type h1::after {
	display: none;
}
.splashNav li {
	display: inline-block;
	position: relative;
}
.splashNav a {
	text-decoration: none;
	display: block;
	line-height: 6em;
}
/*.splashNav li:last-of-type a:after {
	content: "\f107";
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	font-family: fontAwesome;
	font-size: 80px;
	width: 80px;
	text-align: center;
}*/
.splashNav li:last-of-type a {
	padding-right: 80px;
}
.splashNav li:nth-of-type(even) a {
	color: #d7d7d7;
}
.splashNav li:nth-of-type(odd) a {
	color: #777;
}
.splashNav li:first-of-type a {
	color: #000;
}
.headerContainer {
	background-color: #fff;
	position: relative;
	z-index: 11;
}
header {
	display: flex;
	flex-wrap: wrap;
	min-height: 100vh;
	position: relative;
	background-color: $brandColor;
}
header::after {
	height: 100%;
	top: 0;
	left: 100%;
	width: 25px;
	background-color: $brandColor;
	content: "";
	position: absolute;
}
.siteTitle {
	flex-basis: 100%;
	display: flex;
	justify-content: flex-end;
}
.siteTitle h1 {
	font-size: 10em;
	letter-spacing: -0.05em;
	position: relative;
	top: -30px;
}
.headerContainer svg {
	width: 100%;
	fill: #c9c9c9;
	opacity: .2;
	z-index: 1;
}
.inner {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}
/*.inner:nth-of-type(odd) {
	margin-left: auto;
	margin-right: 0;
}*/
.contentContainer {
	/*margin-left: 35px;
	height: calc(100vh - 129px);
	position: relative;
    z-index: 99;*/
	padding-left: 4em;
	padding-right: 4em;
	position: relative;
}
.sectionBottomPadding {
	padding-bottom: 4em;
}
.contentContainer > .row {
	height: 100%;
}
.row.gutter_space {
	margin-left: -3rem;
	margin-right: -3rem;
}
.row.gutter_space > div {
	padding-left: 3rem;
	padding-right: 3rem;
}
.arrowRight {
	fill: $brandColor;
}
.mediaButton {
	margin-bottom: 2em;
}
.mediaButton a {
	position: relative;
	padding-right: 10px;
}
.arrowContainer {
	position: absolute;
    left: 100%;
    top: 0;
    height: 13px;
    width: 50px;
}
.arrowContainer a {
	color: $brandColor;
	text-decoration: none;
	display: block;
	margin-top: 100px;
}
.mediaContainer {
	display: none;
}
.videoContainer {
	height: 0;
	padding-bottom: 56.25%;
	position: relative;
}
.videoContainer > iframe {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
.mediaContainer {
	align-self: flex-start;
}
.innerPadding {
	padding: 3em;
}
@media (max-width: 980px) {
	.splashNav h1 {
		font-size: 4em;
	}
	.splashNav li:last-of-type a:after {
		font-size: 60px;
		width: 60px;
	}
	.splashNav li:last-of-type a {
		padding-right: 60px;
	}
}
@media (max-width: 767px) and (orientation: portrait) {
	.splashNav h1::after {
		display: none;
	}
}
@media (min-width: 1600px) {
	.splashNav h1 {
		font-size: 9em;
	}
}
@media (max-width: 450px) {
	.splashNav h1 {
		font-size: 2.25em;
		line-height: 1.25em;
	}
	.sectionTitle {
		font-size: 3em;
	}
}
@media (max-width: 850px) and (orientation: landscape) {
	.splashNav h1 {
		font-size: 2em;
		line-height: 1.25em;
	}
	.sectionTitle {
		font-size: 3em;
	}
}